<div class="col-md-4 page-welcome__info-container">
  <div class="page-welcome__info-block">
    <h4 class="page-welcome__info-header">
      <%= icon('film', class: 'page-welcome__icon') %> All the Best Movies
    </h4>
    <div class="page-welcome__info-details">
      Lorem ipsum dolor sit amet, tellus magna aliquam augue adipiscing lacus, aliquet posuere lectus lobortis, pellentesque mauris vehicula interdum, tellus erat felis. Conubia purus ac enim imperdiet curabitur bibendum. Egestas vel eu asperiores morbi, morbi mattis amet fusce, maecenas est, odio elit eget nulla vitae egestas sapien, amet lobortis molestie aliquam vestibulum.
    </div>
  </div>
</div>
<div class="col-md-4 page-welcome__info-container">
  <div class="page-welcome__info-block">
    <h4 class="page-welcome__info-header">
      <%= icon('mobile-phone', class: 'page-welcome__icon') %> Mobile Friendly!
    </h4>
    <div class="page-welcome__info-details">
      Lorem ipsum dolor sit amet, tellus magna aliquam augue adipiscing lacus, aliquet posuere lectus lobortis, pellentesque mauris vehicula interdum, tellus erat felis. Conubia purus ac enim imperdiet curabitur bibendum. Egestas vel eu asperiores morbi, morbi mattis amet fusce, maecenas est, odio elit eget nulla vitae egestas sapien, amet lobortis molestie aliquam vestibulum.
    </div>
  </div>
</div>
<div class="col-md-4 page-welcome__info-container">
  <div class="page-welcome__info-block">
    <h4 class="page-welcome__info-header">
      <%= icon('user', class: 'page-welcome__icon') %> Sign Up Free Today!
    </h4>
    <div class="page-welcome__info-details">
      Lorem ipsum dolor sit amet, tellus magna aliquam augue adipiscing lacus, aliquet posuere lectus lobortis, pellentesque mauris vehicula interdum, tellus erat felis. Conubia purus ac enim imperdiet curabitur bibendum. Egestas vel eu asperiores morbi, morbi mattis amet fusce, maecenas est, odio elit eget nulla vitae egestas sapien, amet lobortis molestie aliquam vestibulum.
    </div>
  </div>
</div>