html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

img {
  max-width: 100%;
}

a {
  transition: 250ms;

  &:hover {
    text-decoration: none;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.no-padding {
  padding: 0;
}

.left-padding {
  padding-left: 25px;

  @media(max-width: 991px) {
    padding-left: 0;
  }
}

.navbar {
  .btn {
    padding: 8px 10px;
  }

  .navbar-right {
    height: $navbar-height;
    line-height: $navbar-height;
    list-style: none;
    padding: 0;

    &__item {
      display: inline-block;

      &:first-child {
        margin-right: 20px;

        .fa {
          &:last-child {
            margin-right: 6px;
          }
        }

        .dropdown-toggle {
          padding: 0 10px !important;
        }
      }
    }
  }
}

.main-body {
  flex: 1;
  margin-bottom: 30px;

  body:not([data-controller-name="welcome"]) & {
    margin-top: calc(#{$navbar-height} + 30px);
  }

  @media(max-width: 767px) {
    width: 100%;
  }
}

.jumbotron {
  background-image: asset-url('jumbotron.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: 0 0 5px #333;
  padding: 200px 20px;
  margin-top: $navbar-height;
  text-align: center;

  @media (max-width: 640px) {
    padding: 80px 20px;
  }

  .btn {
    box-shadow: 0 0 6px 1px #FFF;
    max-width: 200px;
    width: 100%;

    @media (max-width: 640px) {
      display: block;
      margin: 0 auto;
      max-width: 80%;
    }
  }

  h3 {
    @media (max-width: 640px) {
      margin-bottom: 20px;
    }
  }

  &__icon {
    color: $brand-primary;
    font-size: 55px;
    margin: 0 15px;
    position: relative;
    text-shadow: 0 1px 10px #FFF;
    top: 13px;

    @media (max-width: 640px) {
      display: block;
      margin: 15px 0;
      top: 0;
    }
  }
}

.color--white {
  color: #FFF;
}

.font-shadow {
  text-shadow: 0 1px 10px #333;
}

.pagination-container {
  clear: both;
  display: block;
  margin: 10px auto;
  text-align: center;
}
