.category-list {
  &__item {
    background-color: #2a9daa;
    color: #FFF;
    display: inline-block;
    float: left;
    margin: 0 10px 10px 0;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      background-color: darken(#2a9daa, 10);
      color: #FFF;
    }
  }
}

.page-category-show {
  &__edit-btn {
    display: inline-block;
    margin-bottom: 15px;
  }

  &__empty {
    margin-bottom: 15px;
  }
}
