$brand-primary: #d66658;

$navbar-default-bg: #000;
$navbar-margin-bottom: 0;
$navbar-border-radius: 0;
$navbar-default-border: transparent;

$dropdown-link-hover-bg: $brand-primary;
$nav-link-hover-bg: lighten(#000, 20);