.main-footer {
  &__top {
    background-color: #2a9daa;
    height: 15px;

    &:after {
      content: " ";
      background-color: $brand-primary;
      display: block;
      height: 5px;
    }
  }

  &__bottom {
    background-color: #000;
    color: #FFF;
    font-weight: 300;
    padding: 15px 10px;
  }
}
