.page-welcome {
  &__icon {
    margin-right: 20px;
  }

  &__info-header {
    color: #FFF;
    margin: 0;
    padding: 15px 20px;
    text-align: center;
  }

  &__info-block {
    background-color: #41656c;
    border-radius: 5px;
    padding: 0;
  }

  &__info-details {
    background-color: #fefefe;
    border-radius: 0 0 5px 5px;
    padding: 15px;
  }
}
